@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.ready-to-reveal {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.ready-to-reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
